*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.param__editor {
  width: 100%;
  max-width: 500px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .input__wrapper {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    label {
      min-width: 120px;
      font-size: 20px;
      font-weight: bold;
    }

    input {
      font-size: 20px;
      flex: 1;
      padding: 10px 15px;
      border-radius: 6px;
      outline: none;
    }
  }

  pre {
    font-size: 19px;
  }
}
